@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');


/* General */

body {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(77,56,12,1) 100%);

}

#footersupport {
  margin-top: -1128px;
  padding-left: 696px;
}

.spacer{
  height:100px;
}

body > div > div:nth-child(1) > h2{
  margin-top: 40px;
  margin-right: 20px;
}

.container{
  margin-top: 5vh;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: auto;
  flex: 1 1 200px;
  justify-content: center;
}


#colum_container{
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: auto;
  position: absolute;
  flex: 1 1 200px;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  margin-left: 331px;
}

#colum_container > div{
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  top: 6vh;
  margin: 10px;
  padding: 10px;
  width: 250px;
  min-height: auto;
  border: #33302f;
  border-color: #33302f;
  border-width: 5px;
}

#colum_container > div:hover{
  background-color: rgba(62, 41, 70, 0.808);
  transition: 500ms;
}

#Quotediv{
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  margin: 10px;
  padding: 4px;
  align-items: center;
  width: 549px;
  height: 202px;
  border: #33302f;
  border-color: #33302f;
  border-width: 5px;
  margin-top: 511px;
  position: absolute;
  margin-left: 640px;
  }

  #Quotediv:hover{
    background-color: rgba(62, 41, 70, 0.808);
    transition: 500ms;
  }


  #newscontainer{
    margin-top: 91vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    min-height: auto;
    flex: 1 1 188px;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    background-color: black;
    padding: 55px;
  }


  /* Special effects */
  .blob {
    background: black;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	  transform: scale(1);
	  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


/* Columns in news section */
  #newscontainer > div{
    width: 100%;
    padding: 38px;
    
  }

  #newscontainer > div> p{
    width:fit-content;
  }




/*Shows div main page */
body > div.container > div:nth-child(1){
    margin-left: 6px;
    margin-right: 9px;
}


/* Form on main page */
body > div.container > div:nth-child(2) > form{
  margin-left: 50%;  
  height: 300px; 
  margin-top: 30%;
}


/* Flex boxes */

/* First div under navbar */

.column{
  background-color: #BEA6A0;
  margin-bottom: 100px;
  
}

/* Fonts */

h1{
  color: blanchedalmond; 
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  text-align: center; 
  font-size: 24px; ;
}

h2{color: blanchedalmond; 
  text-align: left; 
  font-size: 18px;
  font-family: 'Golos Text', sans-serif;
}


h3{
  color: blanchedalmond; 
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  text-align: center; 
  font-size: 24px; ;
}

p{color:blanchedalmond; 
  margin-top: 20px; 
  margin-left:20px; 
  font-size: 15px;
  font-family: 'Suwannaphum', serif;
  font-weight: 700;
}


/* Anchors / Links */

a:hover{
  font-size: large;
}

a{
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  font-size: large; 
  margin:20px; 
  text-decoration: none;
  color: #474747;
} 
    
a:hover{margin:20px; 
text-decoration: none; 
color:#60f4ff;
}


/* Navigation */

#iframe{
  border-radius:12px; margin-right: 80%;
  z-index: 999;
  position:relative;
}

li {
  float: left;
  list-style: none;
  border-right: 1px solid #31435a;
}

.header{
  margin-top: 0%;
  align-items: center;

}

.footer{
  position: absolute;
  height: 120px;

  width: 100%;
  background-color: #413937;
  color: white;
}

#nav {
    position: fixed;
    margin: initial;
    padding-left: 38vw;
    height: 49px;
    width: 141vw;
    margin-top: -10px;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    background-color: #00bbffee;
}

/* Images | LOGO */

img:hover{
  transform: scale (120%);
  transition-duration: 300ms;
}
/* background image */
body > div > div:nth-child(2) > img{
  margin-right: 40%;
  border-style: solid;
  border-width: thick;
  border-color: #000000de;
  border-radius: 20px;

}

#logosupport{
  margin-right: 10vw;
  height: 250px;
}


/* Gallery images sizes */

body > div > div> div> a > img{
  width: 800px;
  height: 600px;
}

#img1{
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: thick;
  margin-left: 20%;
  border-color: #000000de;
  border-radius: 20px;
}
                        
#logo{
  z-index: 999;
  position: absolute;
  font-family: 'Golos Text', sans-serif; 
  font-size: 18px;
  margin-top: 10px;
}

/* Social media buttons footer */
#icons{
  height: 50px;
}

#icons:hover{
  transform: scale (120%);
  transition-duration: 300ms;
}



#logo{margin-left: 20%;
height:250px}


/* 2 artist photos on main page  */ 

#img2{
  height:300px;
  border-style: solid; 
  border-width: thick;
  margin-left: 20%; 
  border-color: #000000de; 
  border-radius: 20px; 
}

#img3{
  height: 300px;
  margin-left: 20%; 
  border-style: solid; 
  border-width: thick; 
  border-color: #000000de; 
  border-radius: 20px;
}
 



/* Responsiveness */

@media screen and (max-width: 1024px){
  body{ 
    max-width: 100vmin; 
    transition: none;
    background-repeat: no-repeat;
}
#Quotediv{
  width: 368px;
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  margin: 10px;
  padding: -54px;
  height: 205px;
  margin: auto;
  border: #33302f;
  border-color: #33302f;
  border-width: 5p;
  margin-top: 141px;
  position: absolute;
}


#logo{
  display: none;
}
}

@media screen and (max-width: 768px){
#newscontainer{
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 183vh;
  display: flex;
  height: 100vh;
  flex: 1 1 188px;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  background-color: black;
  padding: -60px;
  margin-left: -114px;
}
}

@media screen and (max-width: 425px){

/* Main cover photo */
body > div > div:nth-child(2) > img{
  margin-left: -14px;
  width: 95vw;
  display: block;
  margin-bottom: 10px;
}

#colum_container {
  margin-top: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 543px;
  position: absolute;
  flex: 1 1 200px;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}


/* next show */
body > div.container > div:nth-child(1) {
  margin-block: -18px;
  margin-left: 24px;
  margin-right: 25px;
}
.container{
  width: 100vw;
}

.column{
  display: block;
  text-align: left;
  align-content: center;
  margin-right: 17px;
  padding: 15px;
}
    
body{
  display: block;
  transition: none;
  background-size: 100vw;
}
    
.footer{
  margin: auto;
  top:300vh;
}
    
#nav{
  width: 67vw;
  display: block;
  height: auto;
}

p{
  font-size:x-small;
  text-align: justify;
  font-size: x-small;
  text-align: justify;
  margin: 1em;
  margin: 65px;
}
    
#iframe{
  margin-top: 300px; 
  width:150px;
  
}
    
#img2{
    margin-top: -1px;
    height: 274px;
    margin-left: -17px;
}

#img3{
  height: 248px;
  margin-left: -11px;
  border-style: solid;
  border-width: thick;
  border-color: #000000de;
  border-radius: 18px;
}
@media screen and (max-width: 425px){ 

  .nav{
    width: 67vw;
    display: block;
    height: auto;
  }
  a{
    font-size: medium;
    margin: 12px;
  }
  h2{
    font-size: small;
  }
  #nav{
    width: 104vw;
    height: 69px;
}
#navgallery{
  width: 104vw;
  height: 69px;
}
}
}
}
