@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');


/* General */
html{
overflow-x: hidden;
}

body {
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e); 
  background: linear-gradient(to right, #0f3443, #34e89e); 

  max-width: 100%;
  overflow-x: hidden;
}

#footersupport {
  margin-top: 100%;
}

.spacer{
  height:100px;
}

body > div > div:nth-child(1) > h2{
  margin-top: 40px;
  margin-right: 20px;
}

.container{
  margin-top: 41px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: auto;
  flex: 1 1 200px;
  justify-content: center;
}


#colum_container{
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: auto;
  position: absolute;
  flex: 1 1 200px;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  margin-left: 331px;
}

#colum_container > div{
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  top: 6vh;
  margin: 10px;
  padding: 10px;
  width: 250px;
  min-height: auto;
  border: #33302f;
  border-color: #33302f;
  border-width: 5px;
}

#colum_container > div:hover{
  background-color: rgba(62, 41, 70, 0.808);
  transition: 500ms;
}

#Quotediv{
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  margin: 10px;
  padding: 4px;
  align-items: center;
  width: 549px;
  height: 202px;
  border: #33302f;
  border-color: #33302f;
  border-width: 5px;
  margin-top: 511px;
  position: absolute;
  margin-left: 640px;
  }

  #Quotediv:hover{
    background-color: rgba(62, 41, 70, 0.808);
    transition: 500ms;
  }


  #newscontainer{
    margin-top: 91vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    min-height: auto;
    flex: 1 1 188px;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    background-color: black;
    padding: 55px;
  }

  /* Merch page*/

  #merchupper{
    margin-top: 74px;
    margin-left: 20%;
  }
  

  /* Merch Page | Forms | Confirmation | Thank you Page */
.confirmation{
  margin-top: 20%;
  margin-left: 25%;
}

.columnmerch{
  width: 50%;
  margin-left: 20%;
}
.merchitems{
  margin: 50px;
}
body > div.merchitems > p{
  padding: 20px;
}

#form2 {
  color: blanchedalmond; 
  text-align: left; 
  font-size: 14px;
  font-family: 'Golos Text', sans-serif;
  width: 200px;
  margin-left: 32%;
  margin-top: 20px;
  
}

#form2>textarea{
  color: blanchedalmond; 
  text-align: left; 
  font-size: 14px;
  font-family: 'Golos Text', sans-serif;
  background-color: #33302f5e;
  color: blanchedalmond;
}

#form2>input{
  color: blanchedalmond; 
  text-align: left; 
  font-size: 14px;
  font-family: 'Golos Text', sans-serif;
  background-color: #33302f5e;
  color: blanchedalmond;

}

#backmerch{
  margin-left: 20%;
  color: blanchedalmond; 
  text-align: left; 
  font-size: 14px;
  font-family: 'Golos Text', sans-serif;
  background-color: #33302f5e;
  color: blanchedalmond;

}


#merchinfo {
  text-align: center; 
  margin-inline-start: 30%; 
  margin-inline-end: 30%; 
  margin-top: 10%; border: 10px; 
  padding: 10px; 
  border-color: #0f3443;
  background-color: #33302f85; 
  border-style: double;
}

  /* Special effects */
  .blob {
    background: black;
    border-radius: 50%;
    margin: 10px;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	  transform: scale(1);
	  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* Columns in news section */
#newscontainer > div{
  width: 100%;
  padding: 38px;
    
}

#newscontainer > div> p{
  width:fit-content;
}

/*Shows div main page */
body > div.container > div:nth-child(1){
    margin-left: 6px;
    margin-right: 9px;
}


/* Form on main page */
body > div.container > div:nth-child(5) > form{
  margin-block: 28px;
  margin-inline: 27px;
}

/* First div under navbar */
.column{
  background-color: #BEA6A0;
  margin-bottom: 100px;
  
}

/* Fonts */

h1{
  color: blanchedalmond; 
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  text-align: center; 
  font-size: 24px; ;
}

h2{color: blanchedalmond; 
  text-align: left; 
  font-size: 18px;
  font-family: 'Golos Text', sans-serif;
}


h3{
  color: blanchedalmond; 
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  text-align: center; 
  font-size: 24px; ;
}

p{color:blanchedalmond; 
  margin-top: 20px; 
  margin-left:20px; 
  font-size: 15px;
  font-family: 'Suwannaphum', serif;
  font-weight: 700;
}

/* news LEFT article */
#newscontainer > article:nth-child(1){
  margin-right: -57px;
  margin-left: 388px;
}

/* news RIGHT article */
#newscontainer > article:nth-child(2){
margin-right: 342px;
    margin-left: 186px;
}

/* Anchors / Links */

a:hover{
  font-size: large;
}

a{
  font-family: 'Croissant One', cursive;
  font-weight: 400;
  font-size: large; 
  margin:20px; 
  text-decoration: none;
  color: #474747;
} 
    
a:hover{margin:20px; 
text-decoration: none; 
color: #217394;
}


/* Navigation */

#iframe{
  margin-right: 80%;
  z-index: 999;
  position: relative;
  width: 290px;
  margin-top: 84px;
}

li {
  float: left;
  list-style: none;
  border-right: 1px solid #31435a;
}

.header{
  margin-top: 0%;
  align-items: center;

}

.footer{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 96px; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: #16222A;
  background: -webkit-linear-gradient(to top, #3a607357, #16222a49);  
  background: linear-gradient(to top, #3a60735b, #16222a56); 
}

/* vertical fixed footer for gallery section */
#galleryfooter{
  position: fixed;
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 96px;
  background-color: #f0f8ff00;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-end;
  background: none;
}

#nav {
  position: fixed;
  width: 100vw;
  height: 49px;
  top: 0;
  text-align: center;
  font-family: 'Golos Text', sans-serif;
  background-color: #34e89e;
}


#nav > ul > li:nth-child(1){
  margin-left: 40%;
}
#nav > li:nth-child(2){
  margin-left: 40%;
}

/* Images | LOGO */


/* background image */
body > div > div:nth-child(2) > img{
  width: 100%;
  margin-right: 0;
  border-style: solid;
  border-width: thick;
  border-color: #000000de;
  border-radius: 20px;

}
/* Gallery */

.gallery{
  margin-top: auto;
  background-color: #98f3c1ee;
}

body > div > div> div> a > img{
  width: 800px;
  height: 600px;
}

#img1{
  height: 300px;
  width: 300px;
  margin-left: 20%;
  border-color: #000000de;
  border-radius: 20px;
  border-style: solid;
  border-width: thick; 
  border-color: #000000a8; 
  border-radius: 20px;
}
                        
#logo{
  z-index: 999;
  position: absolute;
  font-family: 'Golos Text', sans-serif; 
  font-size: 18px;
  margin-top: 10px;
}

/* Social media buttons footer */

.footer> a> img{
  height: 50px;
}

.footer> a> img:hover{
  transform: scale (120%);
  transition-duration: 300ms;
}

#colum_container > div> a > img{
  height: 50px;
}


#logo{margin-left: 20%;
height:250px}


/* 2 artist photos on main page  */ 

#img2{
  height:300px;
  border-style: solid; 
  border-width: thick;
  margin-left: 20%; 
  border-color: #000000de; 
  border-radius: 20px; 
}

#img3{
  height: 300px;
  margin-left: 20%; 
  border-style: solid; 
  border-width: thick; 
  border-color: #000000de; 
  border-radius: 20px;
}
 

/* Responsiveness */

@media screen and (max-width: 1024px){
  body{ 
    max-width: 100%; 
    overflow-x: hidden;
    transition: none;
    background-repeat: no-repeat;
}
#Quotediv{
  width: 364px;
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  margin: 10px;
  padding: -54px;
  height: 335px;
  margin: auto;
  border: #33302f;
  border-color: #33302f;
  border-width: 5p;
  margin-top: 151px;
  position: absolute;
  display: flex;
}


#logo{
  display: none;
}
}

@media screen and (max-width: 1024px){
  #nav > li:nth-child(2) {
    margin-left: 30%;
}
}




@media screen and (max-width: 768px){
#newscontainer{
  flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 80%;
    display: flex;
    height: 100vh;
    flex: 1 1 188px;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: black;
    padding: -60px;
    width: 90%;
    padding: 0;
}


.footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
}

#img1{
  margin-left: 10%;
  text-align: center; 
  border: 10px; 
  padding: 15px; 
  border-color: rgba(250, 235, 215, 0.247);
  border-style: double;

}

#img2,
#img3 {  
  margin-left: 5%;
}

#nav > ul > li:nth-child(1) {
    margin-left: 10%;
}

body > div.container > div:nth-child(5) > form{
  margin-bottom: 90px;
}

/* news LEFT article */
#newscontainer > article:nth-child(1){
  margin-right: 52px;
  margin-left: 81px;
}

/* news RIGHT article */
#newscontainer > article:nth-child(2){
  margin-right: -109px;
  margin-left: 26px;
  padding-bottom: 91px;
}
}

@media screen and (max-width: 425px){

#img1,
#img2,
#img3 {
  margin-left: 0;
}

#img1 {
  height: 150px;
  width: 150px;
}
#form2>textarea {
  width: 200px;
}
#merchinfo{
  text-align: center;
  margin-top: 10%;
  padding: 5px;
  width: 246px;
  margin-left: 5px;
}
.columnmerch {
  width: 100%;
  margin-left: 0;
}

#merchupper{
  margin-top: 74px;
  margin-left: 20%;
}

.show, .footer:hover {
  display: block;
}

body > div.container > div.column > p{
  font-size: smaller;
  text-align: justify;
  margin: 1em;
  margin: 9px;
  margin-right: 6px;
}

/* Gallery Images */
body > div > div> div> a > img{
  width: 100vw;
  height: auto;
}

/* Main cover photo */
body > div > div:nth-child(2) > img{
  margin-left: -14px;
  width: 95vw;
  display: block;
  margin-bottom: 10px;
}

#colum_container {
  height: 425px;
  margin-top: 143vh;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin-left: 10%;
  position: absolute;
  flex: 1 1 200px;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
}


/* next show */
body > div.container > div:nth-child(1) {
  margin-block: -18px;
  margin-left: 24px;
  margin-right: 25px;
}
.container{
  width: 100vw;
  margin-bottom: 93px;
}

.column{
  display: block;
  text-align: left;
  align-content: center;
  margin-right: 17px;
  padding: 15px;
  margin-bottom: 0px;
}
    

/* Prevent X scrolling on small devices*/
body{
  max-width: 100%;
  overflow-x: hidden;
  display: block;
  transition: none;
}
    
.footer{
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
}

#galleryfooter{
    flex-direction: row;

}
#nav{
  width: 100%;
  display: block;
  height: 54px;
  z-index: 999;
}

  #newscontainer > article:nth-child(1) {
    margin-right: 246px;
    margin-left: 388px;
}



#newscontainer{
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 380%;
  display: flex;
  height: 174vh;
  flex: 1 1 188px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: black;
  padding: -60px;
  width: 100%;
}

/* Nav menu on small screen */
#nav > ul > li:nth-child(1) {
  margin-left: 0;
}

#nav > li:nth-child(2) {
  margin-left: 3%;
}

p{
  font-size: smaller;
  text-align: justify;
  margin: 1em;
  margin: 9px;
  margin-right: 121px;
}
    
#iframe{
  margin-top: 80px;
  width: 356px;
  
}
    
#img2{
    margin-top: -1px;
    height: 274px;
    margin-left: -17px;
}

#img3{
  height: 248px;
  margin-left: -11px;
  border-style: solid;
  border-width: thick;
  border-color: #000000de;
  border-radius: 18px;
}

  .nav{
    width: 67vw;
    display: block;
    height: auto;
  }
  a{
    font-size: medium;
    margin: 12px;
  }
  h2{
    font-size: small;
  }

  #navgallery{
    top: 0;
    margin: auto;
    position: fixed;
    height: auto;
    width: 100%;
}
}


